## Novena provides a differential clock signal at pins H1 and H2
NET "CLK_N" LOC = H1;
NET "CLK_N" IOSTANDARD = LVDS_33;
NET "CLK_N" DIFF_TERM = "TRUE";
NET "CLK_P" LOC = H2;
NET "CLK_P" IOSTANDARD = LVDS_33;
NET "CLK_P" DIFF_TERM = "TRUE";
# 50Mhz clock
NET "CLK_P" PERIOD = 20 ns;
NET "CLK_N" PERIOD = 20 ns;

##########################################
## I2C connections. All connect to CPU. ##
##########################################
# I2C1 - 10k PUR
# Accelerometer at 0x38
#NET "SMB_SCL" LOC = N3;
#NET "SMB_SCL" IOSTANDARD = LVCMOS33;
#NET "SMB_SDA" LOC = N4;
#NET "SMB_SDA" IOSTANDARD = LVCMOS33;
# I2C2 - 1.8k PUR
# Use for CPU
NET "DDC_SCL" LOC = J6;
NET "DDC_SCL" IOSTANDARD = LVCMOS33;
NET "DDC_SDA" LOC = F2;
NET "DDC_SDA" IOSTANDARD = LVCMOS33;
# I2C3 - 2.2k PUR
#NET "I2C3_SDA" LOC = P3;
#NET "I2C3_SDA" IOSTANDARD = LVCMOS33;
#NET "I2C3_SCL" LOC = P4;
#NET "I2C3_SCL" IOSTANDARD = LVCMOS33;

#########################
## GPIO Breakout Board ##
#########################
## Digital Output Bank A
#NET "GPBB_15" LOC = U10;
#NET "GPBB_15" IOSTANDARD = LVCMOS33;
#NET "GPBB_15" SLEW = SLOW;

#NET "GPBB_13" LOC = V10;
#NET "GPBB_13" IOSTANDARD = LVCMOS33;
#NET "GPBB_13" SLEW = SLOW;

#NET "GPBB_11" LOC = N5;
#NET "GPBB_11" IOSTANDARD = LVCMOS33;
#NET "GPBB_11" SLEW = SLOW;

#NET "GPBB_9" LOC = P6;
#NET "GPBB_9" IOSTANDARD = LVCMOS33;
#NET "GPBB_9" SLEW = SLOW;

#NET "GPBB_7" LOC = R10;
#NET "GPBB_7" IOSTANDARD = LVCMOS33;
#NET "GPBB_7" SLEW = SLOW;

#NET "GPBB_5" LOC = T10;
#NET "GPBB_5" IOSTANDARD = LVCMOS33;
#NET "GPBB_5" SLEW = SLOW;

NET "GPBB_3" LOC = T2;
NET "GPBB_3" IOSTANDARD = LVCMOS33;
NET "GPBB_3" SLEW = SLOW;

NET "GPBB_1" LOC = R5;
NET "GPBB_1" IOSTANDARD = LVCMOS33;
NET "GPBB_1" SLEW = SLOW;

## Digital Output Bank B
## GPIO Breakout LEDs
NET "ledD" LOC = R11;
NET "ledD" IOSTANDARD = LVCMOS33;
NET "ledD" SLEW = SLOW;
#NET "GPBB_31" LOC = R11;
#NET "GPBB_31" IOSTANDARD = LVCMOS33;
#NET "GPBB_31" SLEW = SLOW;

NET "ledC" LOC = T11;
NET "ledC" IOSTANDARD = LVCMOS33;
NET "ledC" SLEW = SLOW;
#NET "GPBB_29" LOC = T11;
#NET "GPBB_29" IOSTANDARD = LVCMOS33;
#NET "GPBB_29" SLEW = SLOW;

NET "ledB" LOC = L7;
NET "ledB" IOSTANDARD = LVCMOS33;
NET "ledB" SLEW = SLOW;
#NET "GPBB_27" LOC = L7;
#NET "GPBB_27" IOSTANDARD = LVCMOS33;
#NET "GPBB_27" SLEW = SLOW;

NET "ledA" LOC = L1;
NET "ledA" IOSTANDARD = LVCMOS33;
NET "ledA" SLEW = SLOW;
#NET "GPBB_25" LOC = L1;
#NET "GPBB_25" IOSTANDARD = LVCMOS33;
#NET "GPBB_25" SLEW = SLOW;

#NET "GPBB_23" LOC = L2;
#NET "GPBB_23" IOSTANDARD = LVCMOS33;
#NET "GPBB_23" SLEW = SLOW;

#NET "GPBB_21" LOC = G1;
#NET "GPBB_21" IOSTANDARD = LVCMOS33;
#NET "GPBB_21" SLEW = SLOW;

#NET "GPBB_19" LOC = K5;
#NET "GPBB_19" IOSTANDARD = LVCMOS33;
#NET "GPBB_19" SLEW = SLOW;

#NET "GPBB_17" LOC = L5;
#NET "GPBB_17" IOSTANDARD = LVCMOS33;
#NET "GPBB_17" SLEW = SLOW;

# Digital Input Bank
#NET "GPBB_33" LOC = M1;
#NET "GPBB_33" IOSTANDARD = LVCMOS33;
#NET "GPBB_33" SLEW = SLOW;

#NET "GPBB_35" LOC = H3;
#NET "GPBB_35" IOSTANDARD = LVCMOS33;
#NET "GPBB_35" SLEW = SLOW;

#NET "GPBB_37" LOC = H4;
#NET "GPBB_37" IOSTANDARD = LVCMOS33;
#NET "GPBB_37" SLEW = SLOW;

#NET "GPBB_39" LOC = K6;
#NET "GPBB_39" IOSTANDARD = LVCMOS33;
#NET "GPBB_39" SLEW = SLOW;

#NET "GPBB_26" LOC = T9;
#NET "GPBB_26" IOSTANDARD = LVCMOS33;
#NET "GPBB_26" SLEW = SLOW;

#NET "GPBB_28" LOC = T8;
#NET "GPBB_28" IOSTANDARD = LVCMOS33;
#NET "GPBB_28" SLEW = SLOW;

#NET "GPBB_30" LOC = R8;
#NET "GPBB_30" IOSTANDARD = LVCMOS33;
#NET "GPBB_30" SLEW = SLOW;

#NET "GPBB_32" LOC = H7;
#NET "GPBB_32" IOSTANDARD = LVCMOS33;
#NET "GPBB_32" SLEW = SLOW;

## SPI - Front Panel
# SPI clock
#NET "FPGA_LSPI_CLK" LOC = D3;
#NET "FPGA_LSPI_CLK" IOSTANDARD = LVCMOS33;
# Chip select
#NET "FPGA_LSPI_CS" LOC = D1;
#NET "FPGA_LSPI_CS" IOSTANDARD = LVCMOS33;
# Clock hold. Ignore SPI clock when asserted
#NET "FPGA_LSPI_HOLD" LOC = E3;
#NET "FPGA_LSPI_HOLD" IOSTANDARD = LVCMOS33;
# Master-in, slave-out. Write to here
#NET "FPGA_LSPI_MISO" LOC = D2;
#NET "FPGA_LSPI_MISO" IOSTANDARD = LVCMOS33;
# Master-out, slave-in. Read from here
#NET "FPGA_LSPI_MOSI" LOC = C2;
#NET "FPGA_LSPI_MOSI" IOSTANDARD = LVCMOS33;
# Write protect. Ignore incoming data when asserted
#NET "FPGA_LSPI_WP" LOC = C1;
#NET "FPGA_LSPI_WP" IOSTANDARD = LVCMOS33;
